<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
    <meta charset="UTF-8" />
    <title>North Austin Learn Python</title>
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
    <!-- STYLESHEETS -->
    {% load staticfiles %}
    <link href="https://cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{% static 'staticpages/home.css' %}" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-top" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Austin Learn Python</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse-top">
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>


        <h1>Austin Learn Python</h1>
        <h2>Learn Python with Confidence!</h2>

        <h3>Learning resources:</h3>

        <h4>Python:</h4>
        <ul>
            <li><a href="https://www.codecademy.com/learn/python" target="_blank">
                https://www.codecademy.com/learn/python
            </a></li>
            <li><a href="https://www.learnpythonthehardway.org/" target="_blank">
                https://www.learnpythonthehardway.org/
            </a></li>
            <li><a href="https://developers.google.com/edu/python/" target="_blank">
                https://developers.google.com/edu/python/
            </a></li>
            <li><a href="http://interactivepython.org/runestone/static/pythonds/index.html" target="_blank">
                http://interactivepython.org/runestone/static/pythonds/index.html
            </a></li>
        </ul>

        <h4>Django:</h4>
        <ul>
            <li><a href="https://github.com/sarasafavi/introdjango" target="_blank">
                https://github.com/sarasafavi/introdjango
            </a></li>
            <li><a href="http://tutorial.djangogirls.org/" target="_blank">
                http://tutorial.djangogirls.org/
            </a></li>
        </ul>

        <h4>JavaScript:</h4>
        <ul>
            <li><a href="https://www.codecademy.com/learn/learn-javascript" target="_blank">
                https://www.codecademy.com/learn/learn-javascript
            </a></li>
            <li><a href="https://www.freecodecamp.com/" target="_blank">
                https://www.freecodecamp.com/
            </a></li>
        </ul>

        <h4>General web development:</h4>
        <ul>
            <li><a href="https://www.codecademy.com/learn/make-a-website" target="_blank">
                https://www.codecademy.com/learn/make-a-website
            </a></li>
            <li><a href="https://www.codecademy.com/learn/learn-html-css" target="_blank">
                https://www.codecademy.com/learn/learn-html-css
            </a></li>
            <li><a href="https://www.codecademy.com/learn/learn-the-command-line" target="_blank">
                https://www.codecademy.com/learn/learn-the-command-line
            </a></li>
            <li><a href="https://www.codecademy.com/apis" target="_blank">
                https://www.codecademy.com/apis
            </a></li>
        </ul>

        <h4>Coding practice:</h4>
        <ul>
            <li><a href="http://www.pythonchallenge.com/" target="_blank">
                http://www.pythonchallenge.com/
            </a></li>
            <li><a href="https://www.codewars.com/" target="_blank">
                https://www.codewars.com/
            </a></li>
            <li><a href="https://checkio.org/" target="_blank">
                https://checkio.org/
            </a></li>
            <li><a href="https://github.com/karan/Projects" target="_blank">
                https://github.com/karan/Projects
            </a></li>
            <li><a href="https://projecteuler.net/" target="_blank">
                https://projecteuler.net/
            </a></li>
            <li><a href="https://code.google.com/codejam" target="_blank">
                https://code.google.com/codejam
            </a></li>
            <li><a href="https://www.hackerrank.com/" target="_blank">
                https://www.hackerrank.com/
            </a></li>
        </ul>
    </div>

    <!-- SCRIPTS -->
    <script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>
